/* _content/devTicket/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-va4lvx4aw4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-va4lvx4aw4] {
  color: #0077cc;
}
.dropdown[b-va4lvx4aw4] {
    display: inline-block;
    position: relative;
}

button[b-va4lvx4aw4] {
    border: none;
    cursor: pointer;
    background-color:none;
}

button:hover[b-va4lvx4aw4] {
    background-color: #ddd;
}

.dropdown-options[b-va4lvx4aw4] {
    display: none;
    position: absolute;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options[b-va4lvx4aw4] {
    display: block;
}

.dropdown-options a[b-va4lvx4aw4] {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding: 20px 40px;
}

.dropdown-options a:hover[b-va4lvx4aw4] {
    color: #0a0a23;
    background-color: #ddd;
    border-radius: 5px;
}

.btn-primary[b-va4lvx4aw4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-va4lvx4aw4], .nav-pills .show > .nav-link[b-va4lvx4aw4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-va4lvx4aw4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-va4lvx4aw4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-va4lvx4aw4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-va4lvx4aw4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-va4lvx4aw4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
