@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center ">
    <div class="p-2" style="font-family:'Josefin Slab', serif;">
        <h1 class="display-4">Bievenido(a)</h1>
        <h1>SaFj Tickets!</h1>
     </div>
    
    <img src="https://res.cloudinary.com/dgm059qwp/image/upload/v1680588126/Black_and_Gold_Classy_Minimalist_Circular_Name_Logo-removebg-preview_rfjd8f.png" />
</div>


