@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">!Bievenido(a) a SaFj Tickets¡</h1>
    <p>Paquete de palomitas gratis por la compra de 2 tickets para cualquier evento, aprovecha ya!</a>.</p>
</div>
